USE [SCMS02]
GO
/****** Object:  Trigger [dbo].[trgT_SCMS_FPSWISE_ONORC_DISTRIBUTION_DTLS_POS]    Script Date: 21-07-2023 16:57:54 ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================================

/*
     CREATED BY RAHUL KUMAR [01-3101] ON 2023-07-21 16:54:20.000

	 -- PRODUCTION SCHEMA : AuditSCMS02

	  DEPENDENCY GRAPH
		  1. T_SCMS_FPSWISE_ONORC_DISTRIBUTION_DTLS_POS_TransactionLog      TABLE OF [SCMS02]  DATABASE
		  2. T_SCMS_FPSWISE_ONORC_DISTRIBUTION_DTLS_POS                     TABLE OF [SCMS02]  DATBASE


		   TRIGGER INFORMATION
		  1. trgT_SCMS_FPSWISE_ONORC_DISTRIBUTION_DTLS_POS      [SCMS02] DATABASE

		   DDL STATEMENT

			CREATE TABLE T_SCMS_FPSWISE_ONORC_DISTRIBUTION_DTLS_POS_TransactionLog
				(
				RecordNumber						      INT PRIMARY KEY IDENTITY(1,1),
				INTID                                     INT,
				INT_COMMODITY						      INT NULL,

				[80_PERCENT_QTY_BASED_ON_FRST_ALT_PRE]    DECIMAL(18,5) NULL,
				[80_PERCENT_QTY_BASED_ON_FRST_ALT_CURR]   DECIMAL(18,5) NULL,

				OWN_DISTRIBUTION_PRE                      DECIMAL(18,5) NULL,
				OWN_DISTRIBUTION_CURR                     DECIMAL(18,5) NULL,

				OTHER_DISTRIBUTION_MINUS_PRE              DECIMAL(18,5) NULL,
				OTHER_DISTRIBUTION_MINUS_CURR             DECIMAL(18,5) NULL,

				OTHER_DISTRIBUTION_ADD_PRE                DECIMAL(18,5) NULL,
				OTHER_DISTRIBUTION_ADD_CURR               DECIMAL(18,5) NULL,

				ADJUSTED_QTY_PRE                          DECIMAL(18,5) NULL,
				ADJUSTED_QTY_CURR                         DECIMAL(18,5) NULL,

				INT_MONTH                                 INT NULL,
				INT_YEAR                                  INT NULL,

				IS_ADJUSTED_PRE                           DECIMAL(18,5) NULL,
				IS_ADJUSTED_CURR                          DECIMAL(18,5) NULL,

				[60_PERCENT_QTY_BASED_ON_ACTUAL_ALT_PRE]  DECIMAL(18,5) NULL,
				[60_PERCENT_QTY_BASED_ON_ACTUAL_ALT_CURR] DECIMAL(18,5) NULL,

				RecordCreatedOn                           DATETIME DEFAULT GETDATE()
				)



 -----------------------------------------PRIVILEGE TO BE GRANTED
   USE [SCM02]
   GO
     
   GRANT INSERT ON [dbo].[T_SCMS_FPSWISE_ONORC_DISTRIBUTION_DTLS_POS_TransactionLog] TO [SCMS02]

   GRANT SELECT ON [dbo]. [T_SCMS_FPSWISE_ONORC_DISTRIBUTION_DTLS_POS_TransactionLog] TO [SCMS02]

   GO


   DROP TRIGGER [trgT_SCMS_FPSWISE_ONORC_DISTRIBUTION_DTLS_POS]
*/

--========================================================================================================

ALTER TRIGGER [dbo].[trgT_SCMS_FPSWISE_ONORC_DISTRIBUTION_DTLS_POS]
ON [dbo].[T_SCMS_FPSWISE_ONORC_DISTRIBUTION_DTLS_POS]
FOR UPDATE

AS

BEGIN
       SET NOCOUNT ON;

	   DECLARE @ActualUpdateStatus BIT = 0; -- ADDED ON 2023-07-21 16:54:20.000 BY RAHUL KUMAR [01-3101]

	   IF (UPDATE([80_PERCENT_QTY_BASED_ON_FRST_ALT])  OR UPDATE(OWN_DISTRIBUTION) OR UPDATE(OTHER_DISTRIBUTION_MINUS) OR
	   UPDATE(OTHER_DISTRIBUTION_ADD) OR UPDATE(ADJUSTED_QTY) OR UPDATE(IS_ADJUSTED) OR UPDATE([60_PERCENT_QTY_BASED_ON_ACTUAL_ALT]))

	   BEGIN
	      --[ADDED ON 2023-07-21 16:54:20.000 BY RAHUL KUMAR [01-3101] TO TRACK FALSE UPDATE STATEMENT 
		  SELECT @ActualUpdateStatus = 1
		  FROM deleted D
		  JOIN inserted I
		  ON D.INTID = I.INTID
		  AND
		  (
		           I.[80_PERCENT_QTY_BASED_ON_FRST_ALT] <> D.[80_PERCENT_QTY_BASED_ON_FRST_ALT] OR
				   I.OWN_DISTRIBUTION <> D.OWN_DISTRIBUTION OR
				   I.OTHER_DISTRIBUTION_MINUS <> D.OTHER_DISTRIBUTION_MINUS OR
				   I.OTHER_DISTRIBUTION_ADD <> D.OTHER_DISTRIBUTION_ADD OR 
				   I.ADJUSTED_QTY <> D.ADJUSTED_QTY OR
				   I.IS_ADJUSTED <> D.IS_ADJUSTED OR
				   I.[60_PERCENT_QTY_BASED_ON_ACTUAL_ALT] <> D.[60_PERCENT_QTY_BASED_ON_ACTUAL_ALT]
		  )

		    IF @ActualUpdateStatus = 1
			BEGIN

			 INSERT INTO T_SCMS_FPSWISE_ONORC_DISTRIBUTION_DTLS_POS_TransactionLog
			 (
			    [INTID],

				[INT_COMMODITY],

				[80_PERCENT_QTY_BASED_ON_FRST_ALT_PRE],
				[80_PERCENT_QTY_BASED_ON_FRST_ALT_CURR],

				[OWN_DISTRIBUTION_PRE],
				[OWN_DISTRIBUTION_CURR] ,

				[OTHER_DISTRIBUTION_MINUS_PRE] ,
				[OTHER_DISTRIBUTION_MINUS_CURR],

				[OTHER_DISTRIBUTION_ADD_PRE],
				[OTHER_DISTRIBUTION_ADD_CURR],

				[ADJUSTED_QTY_PRE],
				[ADJUSTED_QTY_CURR],

				[INT_MONTH],
				[INT_YEAR],

				[IS_ADJUSTED_PRE],
				[IS_ADJUSTED_CURR],

				[60_PERCENT_QTY_BASED_ON_ACTUAL_ALT_PRE],
				[60_PERCENT_QTY_BASED_ON_ACTUAL_ALT_CURR]


			 )
			  SELECT 
			    I.[INTID],

				I.[INT_COMMODITY],

				D.[80_PERCENT_QTY_BASED_ON_FRST_ALT],
				I.[80_PERCENT_QTY_BASED_ON_FRST_ALT],

				D.[OWN_DISTRIBUTION],
				I.[OWN_DISTRIBUTION],

				D.[OTHER_DISTRIBUTION_MINUS],
				I.[OTHER_DISTRIBUTION_MINUS],

				D.[OTHER_DISTRIBUTION_ADD],
				I.[OTHER_DISTRIBUTION_ADD],

				D.[ADJUSTED_QTY],
				I.[ADJUSTED_QTY],

				I.[INT_MONTH],
			    I.[INT_YEAR],

				D.[IS_ADJUSTED],
				I.[IS_ADJUSTED],

				D.[60_PERCENT_QTY_BASED_ON_ACTUAL_ALT],
				I.[60_PERCENT_QTY_BASED_ON_ACTUAL_ALT]

			   FROM deleted D
			   JOIN inserted I
			   ON D.INTID = I.INTID
			END;

	   END;
END;
